.pageContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 1520px;
    min-width: 320px;
    padding-left: 100px;
    padding-right: 100px;
}

/* test  cards */
.result {
    display: flex;
    gap: 1rem;
}