.buttonWrap {
    position: absolute;
    bottom: 17px;
    right: 14px;
    display: flex;
    font-size: 2rem;
    color: transparent;
    background-color: white;
    border-radius: 50%;
}

/* .icon {
    top: 10px;
    position: absolute;
} */