.cardContainer {
    display: flex;
    flex-direction: column;
    width: 185px;
}

.cover {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    height: 256px;
}

.image {
    border-radius: 4px;
    height: 100%;
}